* {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1,
h2 {
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 8px;
    padding-left: 10px;
    border-left: 5px solid rgb(255, 0, 0);
}

.homepage,
.recipe-content {
    width: 1000px;
    margin: 0 auto;
}

.homepage p {
    font-size: 30px;
}

.homepage a {
    text-decoration: none;
}